
<div class="nav-wrapper">
	<ul id="nav" class="nav" data-ng-controller="NavCtrl" data-slim-scroll
		data-collapse-nav data-highlight-active>
		<li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span
				data-i18n="Dashboard"></span>
		</a></li>
		<li><a href="Javascript:void(0)"><i class="fa fa-magic"></i><span
				data-i18n="Skills"></span></a>
			<ul>
				<li><a href="Javascript:void(0)"><i
						class="fa fa-angle-right"></i><span data-i18n="Java"></span></a></li>
				<li><a href="Javascript:void(0)"><i
						class="fa fa-angle-right"></i><span data-i18n="AngularJS"></span></a></li>
				<li><a href="Javascript:void(0)"><i
						class="fa fa-angle-right"></i><span data-i18n="JavaScript"></span>
				</a></li>
				<li><a href="Javascript:void(0)"><i
						class="fa fa-angle-right"></i><span data-i18n="Microsoft CRM"></span>
				</a></li>
				 
			</ul></li>
		<li><a href="Javascript:void(0)"><i class="fa fa-file-text-o"></i><span
				data-i18n="Results"></span></a>
			<ul>
				<li><a href="Javascript:void(0)"><i
						class="fa fa-angle-right"></i><span data-i18n="My Results"></span></a></li>
				<li><a href="Javascript:void(0)"><i
						class="fa fa-angle-right"></i><span data-i18n="Rankings"></span></a></li>

			</ul></li>
		<li><a href="#/pages/profile"><i class="fa fa-user"></i><span
				data-i18n="My Profile"></span></a>
			<ul>
				<li><a href="#/pages/profile"><i
						class="fa fa-angle-right"></i><span data-i18n="View"></span></a></li>
				<li><a href="Javascript:void(0)"><i
						class="fa fa-angle-right"></i><span data-i18n="Edit"></span></a></li>

			</ul></li>
		<li class="nav-task"><a href="#/tasks/tasks"> <i
				class="fa fa-tasks"></i><span data-i18n="Tasks"></span> <span
				class="badge badge-danger main-badge"
				data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
		</a></li>
		<li><a href="Javascript:void(0)"><i class="fa fa-pencil"></i><span
				data-i18n="Best Practices"></span></a></li>
		<li><a href="#/mail/compose"><i class="fa fa-envelope-o"></i><span
				data-i18n="Contact"></span></a></li>

	</ul>
</div>